<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="herokuapp" verbose="1">

    <test name="Hovers Test">
        <!--<classes>-->
            <!--<class name= "herokuapp.HoversTest" />-->
        <!--</classes>-->

        <packages>
            <package name="herokuapp" />
        </packages>
    </test>

</suite>