<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Herokuapp" verbose="1" parallel="tests" thread-count="3">

    <test name="Regression Chrome" >
        <parameter name="browser" value="chrome"/>
      <classes>
          <class name="herokuapp.SliderTest"/>
          <class name="herokuapp.ForgotPasswordTest"/>
      </classes>
    </test>


    <test name="Regression Firefox">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="herokuapp.ForgotPasswordTest"/>
        </classes>
    </test>
</suite>


